body {
    background-color: #F0F0F0;
    width:100%;
    test-align: center;
}

#inner table {
    float:center;
}

#space {
    padding: 4% 5% 5% 5%;
}

#inner {
    margin-left:auto;
    margin-right:auto;
}