<html>
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/room.css">
  </head>
	<body>
	  <div class="text-center">
	    <h1>Reserve a Room</h1>
	  </div>
	  <div id="space"></div>
	  <div class="text-center">
	    <h3>Room {{rm}}</h3>
	    <center>
		<form action ="/rsrv" method="POST">
			<input type="text" name="name" placeholder="club leader name" required>
			<br>
			<input type="text" name="clubname" placeholder="club name" required>
			<br>
			<input type="text" name="email" placeholder="email" required>
			<br>
			<input type="hidden" name="rm" value={{rm}}>
			<input type="hidden" name="date" value={{date}}>
			<input type="submit" name="submit">&#09;<a href="/cal">Go Back</a>
		</form>
	    </center>
	  </div>

	</body>
</html>
		
